<div id="chat_1" class="col-md-4">
  <h3>user_1</h3>
  <form class="form-inline chat_form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Message" name="message">
      <input type="hidden" name="user_name" value="user_1">
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>

  <dl class="dl-horizontal">
  </dl>
</div>

<div id="chat_2" class="col-md-4">
  <h3>user_2</h3>
  <form class="form-inline chat_form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Message" name="message">
      <input type="hidden" name="user_name" value="user_2">
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>

  <dl class="dl-horizontal">
  </dl>
</div>

<div id="chat_3" class="col-md-4 chat_form">
  <h3>user_3</h3>
  <form class="form-inline chat_form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Message" name="message">
      <input type="hidden" name="user_name" value="user_3">
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>

  <dl class="dl-horizontal">
  </dl>
</div>
